{% extends 'base.html' %}

{% block title %}Giriş Yap{% endblock %}

{% block content %}
    <div class="form-container">
        <h2>Giriş Yap</h2>
        <form action="/login" method="POST">
            <input type="text" name="username" placeholder="Kullanıcı Adı" required>
            <input type="password" name="password" placeholder="Şifre" required>
            <button type="submit" class="btn-normal">Giriş Yap</button>
        </form>
        <form action="/login/google">
            <button class="btn-google">Google ile Giriş Yap</button>
        </form>
    </div>
{% endblock %}
